body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

img{
    width: 400px;
    height: 300px;
    margin-right: 20px;
}

button{
    border-radius: 5px;
    padding: 6px 24px;
    background-color: #3882F6;
    border-style: none;
    font-weight: bold;
}

.top{
    background-color: #1F2937;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 75px;
}
.links{
    display: flex;
    flex-direction: row;
}

.header{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header h1{
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header a{
    color: #F9FAF8;
    display: flex;
    font-size: 18px;
    padding: 18px;
}

.hero{
    display: flex;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    justify-content: space-between;
}


.desc p, button{
    display: flex;
    flex-wrap: wrap;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: normal;
}

.unbod{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 75px;
}

.unbod p{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2637;
}

.container{
    display: flex;
    justify-content: space-evenly;
}

.box{
    width: 200px;
    height: 200px;
    border-radius: 25px;
    border-color: #3882F6;
    border-style: solid;
    border-width: 5px;
    margin-bottom: 8px;
}

.explanations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explain{
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.cupcakes{
    width: 200px;
    height: 200px;
    border-radius: 25px;
}