body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    flex: 1 1 0;
    flex-wrap: wrap;
}

img{
    width: 400px;
    height: 300px;
    margin-right: 20px;
}

.sign{
    border-radius: 5px;
    padding: 6px 24px;
    background-color: #3882F6;
    border-style: none;
    font-weight: bold;
}

.top{
    background-color: #1F2937;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 75px;
}
.links{
    display: flex;
    flex-direction: row;
}

.header{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header h1{
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header a{
    color: #F9FAF8;
    display: flex;
    font-size: 18px;
    padding: 18px;
}

.hero{
    display: flex;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    justify-content: space-between;
}


.desc p, button{
    display: flex;
    flex-wrap: wrap;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: normal;
}

.unbod{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 75px;
}

.unbod p{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2637;
    margin-bottom: -10px;
}

.container{
    display: flex;
    gap: 50px;
}

.box{
    width: 200px;
    height: 200px;
    border-radius: 25px;
    border-color: #3882F6;
    border-style: solid;
    border-width: 5px;
    margin-bottom: 8px;
}

.explanations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explain{
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 270px;
}

.cupcakes{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.explanations.long{
    margin-top: 63.34px;
}

.dobod{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    flex-direction: column;
    margin: 0;
}

.quote{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    display: flex;
    flex-direction: column;
}

.quote p{
    margin: 10px;
}

.quoter{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    text-align: right;
    align-self: flex-end;
    justify-self: flex-end;
}

.adsect{
    display: flex;
    padding: 100px;
    justify-content: space-around;
}

.containment{
    display: flex;
    width: 990px;
    border: #3882F6;
    border-style: solid;
    padding: 50px 75px;
    background-color: #3882F6;
    justify-content: center;
    align-content: center;
    gap: 275px;
}

.adinf{
    display: flex;
    flex-direction: column;
}

.main{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
}

.med{
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 300;
}

.button{
    display: flex;
    align-items: flex-end;
}

.button button{
    border-radius: 5px;
    padding: 6px 24px;
    border-color: #F9FAF8;
    background-color: #3882F6;
    border: solid;
}

.footer{
    display: flex;
    padding: 30px;
    justify-content: space-around;
    background-color: #1F2637;
    color: #F9FAF8;
}
